NEXT_PUBLIC_ENVIRONMENT="production"


# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""


BETTER_AUTH_SECRET=""
NEXT_PUBLIC_BETTER_AUTH_URL=""